body{
  line-height: 1rem !important;
}
.time-lable{
  height: 15px;
  background-color: #aaa;
}

.schedule-button{
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}

.col{
  padding: 0;
  margin: 0;
}

.time-row{
  border-bottom: 1px solid #333;
}

.res-button{
  background-color: #759aab;
  height: 100px;
  float: left;
  overflow: visible;
  margin-bottom: -100px;
  
 
}

.available-button{
  background-color: #a1c084;
  height: 15px;
  font-size: 0;
  
 
}

.unavailable-button{
  background-color: #8a3033;
  height: 15px;
  font-size: 0;
  
}

