header img{
  height: 10rem;
  width: auto;

}

header .nav{
  float: right;
}

#date{
  width: 50%;
}

#reservation-selection-div{
  display: none;
}

.results{
  border: 4px solid #043c5b;
  padding: 10px;
}

#high-top-results{
  display: none;
}

.btn-primary{
  background-color: #fff;
  color: #272727;
  border: solid 2px #272727;
}

.btn-primary:focus{
  box-shadow: 0 0 0 0.2rem rgba(39,39,39, .5);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #272727;
  color: #fff;
  border: solid 2px #272727;
}

#res-btn-template{
  display: none !important;
}

.error-message{
  font-size: 14px;
  color: darkred;
}